body {
    margin: auto;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    background-image: url("img/Sfondo.png");
}

nav {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav a {
    display: inline-block;
    padding: 32px;
    font-family: Roboto;
    color:  #16a085;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.photo img {
    margin: auto;
    padding: none;
    position: center;
    width: 100%;
}

.information {
    margin: auto;
    padding: 0px 0px 94px 0px;
    width: 100%;
    height: auto;
    background-image: url("img/侽.png");
}

.information h2 {
    margin: auto;
    padding: 56px 0px 34px 0px;
    text-align: center;
    font-family: Roboto;
    color:  #373737;
}

.information p {
    margin: auto;
    padding-bottom: 41px;
    width: 80%;
    text-align: center;
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
}

.information button {
    display: block;
    margin: 0px auto 0px auto;
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
    text-align: center;
    background-color:  #16a085;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700px;
    color: #ffffff;
}

.footer {
    display: block;
    margin: 45px 104px 45px auto;
    width: 30%;
    text-align: right;
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
}