body {
    width: 1366px;
    height: 768px;
    margin: auto;
    background-image: url("img/background.png");
    background-position: center;
    background-repeat: no-repeat;
}
.header{
    position: relative;
    left: 155px;
    top: 49px;
    width: 1064px;
    height: 44px;
    padding-bottom: 47px;*/
    /*padding-top: 49px;*/

}
.header .logo img{
    float: left;
    width: 46px;
    height: 44px;
}
.header p{
    float: left;
    padding-left: 9px;
    color: #f26522;
    width: 105px;
    height: 44px;
    font-size: 18px;
    line-height: 25px;
}

.header p::first-line{
    font-size:28px;
}
.contact{
    float: right;
    color:  #ffffff;
    font-size: 18px;
    text-align: right;
    line-height: 25px;
}
.services {
    margin-left: 155px;
    margin-top: 49px;

}
.services div{
    float: left;
    margin-right: 70px;
    padding-bottom: 57px;
}
.services p{
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
    font-size: 18px;
}
/*.services .top-layer{
    width: 100%;
    height: 40%;
    color: #f26522;
    opacity; 0,5;*/

.copyright{
   color: #ffffff;
   text-align: center;
   font-size: 12px;
   font-weight: 400;
}

.layer {
    position: absolute;
    top: 280px;
    opacity: 0;
}
.shopping:hover .layer {
    opacity: 1;

}
.shopping:hover p{
  color: #f26522;
}