body {
    margin: auto;
    width: 1280px;
    height: auto;
    background-image: url("img/backlayer.png");
    font-family: 'PT Sans', sans-serif;;
}

.logo {
    padding-top: 61px;
    padding-bottom: 51px;
}

.logo a{
    display: block;
    margin: auto;
    text-align: left;
    text-decoration: none;
    color: #4bcaff;
    font-size: 80px;
    font-weight: 400px;
}

.logo span {
    color: black;
    text-decoration: none;
    font-size: 80px;
    font-weight: 400;
}

.nav {
    margin: auto;
    margin-bottom: 51px;
    height: auto;
    background-color:  #35444f;
    text-align: center;
}

.nav a{
    display: inline-block;
    padding: 25px 42px;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.nav a:hover{
    background-color: #222f3a;
    border: 1px;
    border-style: solid;
    border-color:#35434f;
}

.sidenav {
    display: block;
    float: left;
    margin: 0;
    width: 344px;
    border: 1px;
    border-style: solid;
}

.sidenav a{
    display: block;
    padding-left:44px;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    text-decoration: none;
}

.sidenav a:hover {
    padding-left: 64px;
    background-color: #C8CCD0;
    text-decoration: underline;
    color: #000000;
}

.topimage {
    float: right;
    width: 885px;
    border: 1px;
    border-style: solid;
}

.topimage img {
    padding: 75px 282px;
    width: 320px;
    height: 381px;
}

.topimage img:hover {
    transform: scale(1.17);
}

.information {
    margin: 50px 0px 50px 394px ;
    padding: 0px 35px;
}

.footer {
    background-color:  grey;
    margin: auto;
    margin-bottom: 30px;
}

.footer a{
    padding: 0px 0px 0px 25px;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-decoration: none;
    text-align: right;
}

.footer a:hover{
    color: #3181a6;
    text-decoration: underline;
}

.footer span{
    float: right;
    padding-right: 35px;
    text-align: right;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
}